# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/Lab1_1011-0001/FileContentIndex/99c015c5-0216-4fab-b141-4466758e9125.vsidx
.vs/Lab1_1011-0001/v17/Browse.VC.db
.vs/Lab1_1011-0001/v17/Browse.VC.db-shm
.vs/Lab1_1011-0001/v17/Browse.VC.db-wal
.vs/Lab1_1011-0001/v17/Browse.VC.opendb
.vs/Lab1_1011-0001/v17/ipch/AutoPCH/3ed246574680834d/LAB1_1011-0001.ipch
*.vsidx
